@import "styles/colors.module";
@import "../keyframes.module";

.dialog{
  position: fixed;
  z-index: 9;
  @media screen and (max-width: 600px){
    bottom: 11vh;
    left: 50%;
  }
  @media screen and (min-width: 600px){
    top: 50%;
    left: 50%;
  }
}

.Overlay{
  box-shadow: 0 0 0 100vmax $dark80, 0 0 2em $dark80;
}
