$color-primary: #fff5c5;
$color-secondary: #ff0055;
$transparent: #00000000;
$box-shadaow: #30234d15;
$dark80: #00000080;
$bg-light: #e9e9e9cc;
$bg-dark: #181818cc;
$hover-light: #e9e9e9;
$hover-dark: #1e1e1e;
