:root{
  --color-primary: #fff5c5;
  --color-secondary: #ff674b;
  --transparent: #00000000;
  --box-shadaow: #2f1f3d2a;
  --dark80: #00000080;
  --bg-light: #e9e9e9cc;
  --bg-dark: #181818cc;
  --hover-light: #e9e9e9;
  --hover-dark: #1e1e1e;
}
/* set scrollbars invisible */
html{ scrollbar-width: none; }
::-webkit-scrollbar{ display: none; }

body{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
  height: 100vmax;
  margin: 0;
}

/* for src/lib/IntersectionObserver */
.hidden{ 
  opacity: 0;
  z-index: -2;
  transition: 500ms;
}
.hidden.visible{ 
  opacity: 1;
  z-index: -1;
  transform: translateX(0);
}

.layout{ overflow-y: auto; }
@media only screen and (max-width: 600px){
  .layout { padding-top: 13vh; height: 87vh; }
}
@media only screen and (min-height: 900px){
  .layout { padding-top: 3vh; height: 75vh; }
}

.shadow{
  box-shadow: var(--box-shadaow) -200px 0 250px 50px;
  background-color: var(--transparent);
  position: fixed;
  width: 200%;
  height: 0;
  bottom: 0;
}

@media (prefers-color-scheme: dark){
  body {
    color: var(--color-primary);
    background-color: #000;
  }
}
