:root {
  --color-primary: #fff5c5;
  --color-secondary: #ff674b;
  --blob: #1079f1;
}
/* set scrollbars invisible */
html { scrollbar-width: none; }
::-webkit-scrollbar { display: none; }

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-size: 200%;
  overflow-x: hidden;
  text-align: center;
  margin: 0;
}

.box-shadow {
  box-shadow: #32325d40 0 50px 100px 0, #0000004d 0 50px 100px -100px;
  background-color: #e9e9e9cc;
  height: 5vh;
  width: 100%;
  position: fixed;
  top: 0;
}
/* for src/components/page/Nav.tsx */
@media only screen and (max-width: 600px) {
  .Layout { padding-top: 8vh; height: calc(92vh - 1px); }
}

/* for src/lib/IntersectionObserver */
.hidden { opacity: 0; z-index: -2; transition: 500ms; }
.hidden.visible { opacity: 1; z-index: -1; transform: translateX(0); }

/* overrides for dark browser color-scheme */
@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-primary);
    background: 
    repeating-radial-gradient(#ffffff00 0 0.0001%,#000 0 0.0002%),
    repeating-conic-gradient(#ffffff00 0 0.0001%,#000 0 0.0002%) 60%;
  }
  .navbar { background-color: #000000cc; }
  .box-shadow { background-color: unset; }
}

/* this is needed since repeating-radial-gradient doesnt work on mobile browsers it should but it doesnt */
@media (prefers-color-scheme: dark) and (max-width: 600px) {
  body {
    background: #070707;
  }
}