html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
  
.theme-dark {
  color: #f9f4da;
  background-color: #19190f;    
}
  
.theme-light {
  color: #0f0d0e;
  background-color: #f9f4da;
}
