html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
}

.theme-dark {
  color: #f9f4da;
  background-image: linear-gradient(
    330deg,
    #141214 0%,
    #19190ffb 100%
  );    
}
  
.theme-light {
  color: #0f0d0e;
  background-image: linear-gradient(
    330deg,
    #f9f4dc 0%,
    #e7e0be 100%
  ); 
}

::-webkit-scrollbar {
  background: inherit;
}

::-webkit-scrollbar-thumb {
  background: inherit;
}
