html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
  
.theme-dark {
  color: rgb(251, 249, 225);
  background-color: rgb(25,25,15);    
}
  
.theme-light {
  color: rgb(15,13,14);
  background-color: rgb(244,244,244);
}
  
.themeIcon { border: none; padding: 0; background-color: inherit; }
  
.sidebarLink { 
  color: rgb(55, 125, 255);
  font-size: 1.44rem;
  font-weight: 900;
  text-decoration: none;
}
  
.sidebarLink:hover {
  text-decoration: underline !important;
  text-shadow: 0 0rem 4rem;
}
  
.sidebarLink:active {
  color: #e0cf35
}
  
.errorLink:hover {
  font-weight: 900;
}
