@import "./colors.module";

.Button{
  color: inherit;
  background-color: $bg-light;
  border: 0;
  border-radius: .4em;
  padding: .5em .7em .6em .7em;
  font-weight: 600;
  font-size: 1.2em;
  margin: 0 auto;
  cursor: pointer;
}
.Button:hover{ scale: 1.05 }

.Card{
  color: inherit;
  background-color: $bg-light;
  border-radius: .4em;
  border: 1px solid $transparent;
  padding: .5em .7em .6em .7em;
  box-shadow: $box-shadaow 0 1em 2.3em -1em, $dark80 0 1.5em 2em -1.5em;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 600px;
  max-height: 600px;
}
.Card:hover{ border: 1px solid $bg-dark; }
@media screen and (max-width: 600px){
  .Card{ min-width: 100%; }
}

.H2{ 
  text-shadow: $bg-light -1px -1px 1px, $bg-dark 1px 1px 1px;
  font-size: 3em;
  color: currentColor;
  margin: 0;
}

@media (prefers-color-scheme: dark){
  .Button{ background-color: $bg-dark; }
  .Card{ background-color: $bg-dark; }
  .Card:hover{ border: 1px solid $bg-light; }
  .H2{ text-shadow: $bg-dark -1px -1px 1px, $bg-light .5px .5px .5px; }
}