@value colors: "./colors.css";
@value background-light, background-dark from colors;

.Button {
  color: inherit;
  background-color: background-light;
  border: 0;
  border-radius: .4rem;
  padding: .5rem .7rem .6rem .7rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.Card {
  color: inherit;
  background-color: background-light;
  border: 0;
  border-radius: .4rem;
  padding: .5rem .7rem .6rem .7rem;
}
  
@media (prefers-color-scheme: dark) {
  .Button {
    background-color: background-dark;
  }
  .Card {
    background-color: background-dark;
  }
}
