@import "styles/colors.module";

.append{
  position: relative;
  right: -3.3em;
}
.form{
  all: unset;
  display: flex;
  padding: .2em 0;
  flex-direction: column;
}
.cancel{
  all: unset;
  position: fixed;
  right: -.8em;
  top: -.8em;
  color: $color-secondary;
}
