.card{
  font-size: 1.1em;
  font-weight: 900;
  line-height: 2em;
}
.sep{
  max-width: 500px;
  margin: 1em auto;
  @media (max-width: 600px){
    min-width: 100vw;
  }
  @media (min-width: 600px){
    min-width: 600px;
  }
}
.onhover{
  transition: tranfsrom ease-in-out;
  &:hover{
    transform: scale(1.4);
  }
}
$clr: #707070