.card{
  font-size: 1.1em;
  font-weight: 900;
  line-height: 2em;
}
.sep{
  @media screen and (max-width: 600px){
    min-width: 100vw;
  }
  @media screen and (min-width: 600px){
    min-width: 600px;
  }
}
