@import "styles/colors.module";

.wrapper{
  max-width: 150px;
  margin: auto;
}
.center{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3em;
}
.append{
  max-width: 120px;
  margin: auto;
}
.avatarRoot{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  user-select: none;
  width: 45px;
  height: 45px;
  border: 1px solid currentColor;
  border-radius: 100%;
  cursor: pointer;
}
.avatarImage{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.topright{
  position: fixed;
  top: 1em;
  right: 1em;
}
.limiter{
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.1em; /* fallback */
  max-height: 3.3em; /* fallback */
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.opensort{
  margin-bottom: .5em;
  background-color: transparent;
  color: $bg-dark;
  border: 0;
  @media (prefers-color-scheme: dark){
    color: $color-primary;
    background-color: $bg-dark;
  }
  background-color: $bg-light;
  padding: 4px 8px;
  border-radius: .5em;
  cursor: pointer;
}
.sortoption{
  margin-bottom: .5em;
  background-color: #000;
  color: $bg-dark;
  border: 0;
  @media (prefers-color-scheme: dark){
    color: $color-primary;
    background-color: $bg-dark;
  }
  background-color: $bg-light;
  padding: 4px 8px;
  border-radius: .5em;
  cursor: pointer;
}
.sorticon{
  vertical-align: -.1em;
  font-size: 1.1em;
}
.ToastRoot{
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  padding: 3px;
  display: flex;
  gap: 15px;
  align-items: center;
  @media(prefers-color-scheme: dark){
    background-color: $bg-dark;
  }
  background-color: $bg-light;
  line-height: 2vh;
}
.ToastMessage{
  position: relative;
  height: 2em;
}
.ToastBar{
  position: absolute;
  transform-origin: right;
  top: -3px;
  height: 4px;
  width: 101%;
  margin: auto;
  border-radius: 6px 6px 0 0;
  background: linear-gradient(to right, #ff0055 0%, #0059ff 100%);
}
.ctxmItem{
  line-height: 1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 5px;
  height: 25px;
}
.ctxmContent{
  min-width: 100px;
  @media (prefers-color-scheme: dark) {
    background-color: #000;
  }
  background-color: #fff;
  padding: 5px;
  box-shadow: 0px 10px 38px -10px #16171859, 0px 10px 20px -15px #16171833;
  border-radius: 6px;
  font-size: 13px;
}
.PopoverContent{
  position: fixed;
  top: 6em;
  right: 1em;
  border-radius: 6px;
  border: 0;
  @media (prefers-color-scheme: dark) {
    background-color: #000;
  }
  background-color: #fff;
}
.PopoverSignOut{
  border: 0;
  border-radius: 6px;
  padding: 3px 7px;
  cursor: pointer;
  @media (prefers-color-scheme: dark){
    color: $color-primary;
    background-color: $bg-dark;
  }
  background-color: $bg-light;
}
.highlight{
  background: linear-gradient(to right, #ff0055 0%, #0059ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Border{
  width: 25vw;
  height: 25vw;
  transform: translate(-50%, -50%);
  transition: all 1s ease-in-out;
  z-index: -1;
}