@import "styles/colors.module";

.form{
  all: unset;
  display: flex;
  flex-direction: column;
}
.input{
  font-size: 1.3em;
  line-height: 2;
  font-weight: 900;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.textarea{
  font-size: 1.1em;
  font-weight: 600;
  line-height: 2em;
  background-color: transparent;
  height: 35vh;
  border: 0;
  cursor: pointer;
}
.submit{
  border: 0;
  background: transparent;
  position: absolute;
  right: -.1em;
  bottom: -.75em;
  color: #70deaf;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 2;
  height: 2em;
  cursor: pointer;
}
.cancel{
  all: unset;
  position: absolute;
  right: -.35em;
  top: -.6em;
  color: $color-secondary;
  font-size: 1.7em;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}
.legend{
  position: absolute;
  top: -1.3em;
  left: 0;
}
.checkboxwrapper{
  display: flex;
  align-items: center;
  position: relative;
  bottom: -1.1em;
  left: 1px;
}
.checkboxroot{
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
}
.checkboxlabel{
  padding-left: 5px;
  position: relative;
  bottom: 2px;
}