@import "styles/colors.module";


.wrapper{
  padding: 1em;
}
.input{
  background-color: transparent;
  padding: 10px;
  margin-left: 6em;
  width: 75vw;
  max-width: 500px;
  border-radius: .5em;
  border: 1px solid currentColor;
  @media (prefers-color-scheme: dark){
    border: 1px solid $color-primary;
  }
  transition: 250ms ease-out;
  @media (max-width: 600px){
    margin-left: 2.5em;
    &:focus{ 
      transition: 250ms ease-in;
      margin-top: 5vh; // make searchbar visible while typing
    }
  }
}
.current{
  all: unset;
  font-size: 1.3em;
}
.icon{
  left: -1.3em;
  position: relative;
  vertical-align: middle;
  font-size: 1.5em;
}
.output{
  position: relative;
  left: -1.6em;
  padding: 1em 0 0 7em;
  overflow-y: scroll;
  max-height: 50vh;
  scrollbar-width: none;
  &::-webkit-scrollbar{ display: none; }
  @media (max-width: 600px){
    display: flex;
    padding: 1em 0 0 2em;
  }
}
.item{
  color: #000;
  @media (prefers-color-scheme: dark){
    color: $color-primary;
  }
  border: 1px solid;
  width: 35vw;
  max-width: 275px;
  margin: 0 auto;
  line-height: 2em;
  border-radius: .5em;
  padding: .2em 1em;
}
.body{
  width: 40vw;
  max-width: 375px;
  margin: 0 auto;
  border-radius: .5em;
  background-color: $bg-light;
  @media (prefers-color-scheme: dark){
    background-color: $bg-dark;
  }
}
.highlight{
  color: #0059ff;
  text-decoration: #0059ff underline;
  @media (prefers-color-scheme: dark){
    color: $color-secondary;
    text-decoration: $color-secondary underline;
  }
}
.span{
  padding-left: 15px;
  font-size: .6em;
}
