.root{
  border-radius: .3em;
  padding: .5em;
  box-shadow: var(--box-shadow) 0px 10px 38px -10px, var(--dark80) 0px 10px 20px -15px;
}
.root[data-state='open'] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.root[data-state='closed'] {
  animation: hide 100ms ease-in;
}
.root[data-swipe='move'] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.root[data-swipe='cancel'] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.root[data-swipe='end'] {
  animation: swipeOut 100ms ease-out;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

.top{
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  gap: .5em;
  width: 350px;
  max-width: 90vw;
  list-style: none;
  z-index: 3;
}
@media screen and (max-width: 600px) {
  .top {
    top: 11vh;
  }
}
.bottom{
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  gap: .5em;
  width: 350px;
  max-width: 90vw;
  list-style: none;
  z-index: 3;
}