.background {
  width: 200vh;
  height: 150vw;
  position: fixed;
  transform: translatex(calc(50vw - 50%)) translatey(calc(50vh - 50%))
    rotate(125deg);
}

.animated {
  height: .3em;
  top: 300px;
  width: 100px;
  opacity: 0;
  background-color: var(--color-secondary);
  border-radius: 20%;
  position: fixed;
  background: linear-gradient(-45deg, #ccc, #0000ff00);
  filter: drop-shadow(0 0 .6em #000);
}
@media (prefers-color-scheme: dark) {
  .animated {
    background: linear-gradient(-45deg, var(--color-primary), #0000ff00);
    filter: drop-shadow(0 0 .6em var(--color-secondary));
  }
}
