@import "styles/colors.module";

.navbar {
  z-index: 1;
  position: fixed;
  background-color: $bg-light;
  overflow-x: hidden;
  scrollbar-width: none;
  box-shadow: $box-shadaow -20px 0 100px 40px;
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.nav-item { width: 100%; }
.nav-link {
  display: flex;
  align-items: center;
  height: 4em;
  text-decoration: none;
  transition: 300ms;
}
.nav-link:hover > svg, .nav-link:focus > svg,
.nav-link:hover > .link-text, .nav-link:focus > .link-text { 
  color: $color-secondary;
}
.link-text {
  display: none;
  margin-left: 1em;
}
/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    top: 0;
    width: 100vw;
    height: 5.25em;
  }
  .navbar-nav { flex-direction: row; }
  .nav-link { justify-content: center; }
  .nav-item { top: 1vh; position: relative; }
}
/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: -.75em;
    height: 100vh;
    padding: .5em;
    background-color: $dark80;

    &:hover .link-text { display: inline; }
    &:hover { width: 15vw; }
  }
  
}
@media (prefers-color-scheme: dark) and (max-width: 600px) {
  .navbar { background-color: $dark80; }
}
@media screen and (max-width: 600px) {
  .border {
    top: -13vh;
    width: 300vw;
    height: 5.25em;
    left: -100vw;
  }
}
@media screen and (min-width: 600px) {
  .border {
    width: 50px;
    height: 300vh;
    top: -100vh;
  }
}
