@import "styles/colors.module";

.navbar {
  z-index: 1;
  position: fixed;
  background-color: $bg-light;
  overflow-x: hidden;
  scrollbar-width: none;
  box-shadow: $box-shadaow -20px 0 100px 40px;
  &::-webkit-scrollbar { display: none; }

  @media (prefers-color-scheme: dark){
    background-color: $dark80;
  }

  @media only screen and (max-width: 600px){
    bottom: 0;
    width: 100vw;
    height: 9vh;
  }
  
  @media only screen and (min-width: 600px){
    top: -.75em;
    height: 100vh;
    padding: .5em;

    &:hover .link-text { display: inline; }
    &:hover { width: 15vw; }
  }
  
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 600px){
    flex-direction: row-reverse;
  }
}
.nav-item { 
  width: 100%; 
  @media only screen and (max-width: 600px){
    top: 0;
    position: relative;
  }
}
.nav-link {
  display: flex;
  align-items: center;
  height: 4em;
  text-decoration: none;
  transition: 300ms;

  @media only screen and (max-width: 600px){
    justify-content: center;
  }
}
.nav-link:hover > svg, .nav-link:focus > svg,
.nav-link:hover > .link-text, .nav-link:focus > .link-text { 
  color: $color-secondary;
}
.link-text {
  display: none;
  margin-left: 1em;
}

@media screen and (max-width: 600px) {
  .border {
    top: -13vh;
    width: 300vw;
    height: 5.25em;
    left: -100vw;
  }
}
@media screen and (min-width: 600px) {
  .border {
    width: 50px;
    height: 300vh;
    top: -100vh;
  }
}
